---
import Layout from '../../../layouts/Layout.astro';
import EdgeFunctionExplainer from '../../../components/EdgeFunctionExplainer.astro';
---

<Layout title="Not Australia">
    <section class="w-full py-16 px-4 text-center">
  <div class="max-w-3xl mx-auto">
    <h2 class="text-3xl sm:text-4xl font-bold text-white mb-4">About Us</h2>
    <p class="text-base sm:text-lg text-gray-300">
      Welcome to World Players Club, we’re redefining the gaming and NFT experience through an ambitious Web3
      ecosystem that blends gaming excitement with powerful monetization opportunities.
    </p>

    <!-- Dot Indicator -->
    <div class="mt-6">
      <div class="w-2 h-2 bg-white rounded-full mx-auto"></div>
    </div>
  </div>
</section>

</Layout>
