
---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Casino">
    <h1 class="text-center text-4xl font-bold my-10">Welcome to the Casino</h1>
    <p class="text-center text-lg">Start playing and enjoy your time!</p>
</Layout>
