---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
The Royal Casino will bring you the real experience.
`;
---

<Layout title="World Players Club">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10 text-center">WELCOME TO WORLD PLAYER CLUB</h1>
    <Markdown content={explainer} class="mb-10 text-lg text-center" />

    <!-- Center the button -->
    <div class="flex justify-center">
        <a href="/Casino" class="btn btn-lg sm:min-w-64">
            PLAY NOW
        </a>
    </div>
</Layout>
