---
// Correct import at top
import Layout from '../layouts/Layout.astro';
---

<Layout title="World Players Club - Twitter Feed">

  <section class="min-h-screen flex flex-col items-center justify-center bg-black text-white py-10">
    <h1 class="text-3xl font-bold mb-4">Follow Us on Twitter</h1>

    <!-- Twitter Timeline Embed -->
    <a
      class="twitter-timeline"
      data-theme="dark"
      data-height="700"
      href="https://twitter.com/WldPlayersClub"
    >
      Tweets by @WldPlayersClub
    </a>

    <!-- Required Twitter Script -->
    <script is:inline async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </section>

</Layout>
