---
// Correct import at top
import Layout from '../layouts/Layout.astro';
---

<Layout title="Featured Tweet from World Players Club">
  <section class="min-h-screen flex flex-col items-center justify-center bg-black text-white py-10 px-4">
<h2 style="text-align: center; color: white;">Featured Tweet</h2>

<blockquote class="twitter-tweet" data-theme="dark" style="margin: 0 auto;">
  <p lang="en" dir="ltr">
    <a href="https://x.com/i/status/1927278169897275825"></a>
  </p>
</blockquote>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  </section>
</Layout>

