---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Twitter Profile">
  <div class="max-w-4xl mx-auto text-center my-8">
    <h1 class="text-3xl font-bold mb-2">World Players Club</h1>
    <p class="text-sm text-gray-400">@WldPlayersClub</p>
  </div>

  <!-- Twitter timeline embed -->
  <div class="flex justify-center">
    <a class="twitter-timeline"
       data-height="800"
       data-theme="dark"
       href="https://twitter.com/WldPlayersClub?ref_src=twsrc%5Etfw">
      Tweets by @WldPlayersClub
    </a>
  </div>

  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>
