---
import Layout from '../layouts/Layout.astro'; // ✅ Adjust path if needed
---


<Layout title="Twitter Feed">
  <h1 class="text-3xl font-bold text-center my-8">Follow Us on Twitter</h1>

  <div class="flex justify-center">
    <a class="twitter-timeline" 
       data-theme="dark" 
       data-height="600" 
       href="https://twitter.com/WldPlayersClub?ref_src=twsrc%5Etfw">
       Tweets by @WldPlayersClub
    </a> 
  </div>

  <script is:inline src="https://platform.twitter.com/widgets.js" async charset="utf-8"></script>
</Layout>
