---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Twitter Feed">
  <h1 class="text-center text-3xl font-bold my-10">Follow Us on Twitter</h1>

  <div class="flex justify-center">
    <a class="twitter-timeline"
       data-theme="dark"
       data-height="600"
       href="https://twitter.com/WldPlayersClub">
      Tweets by @WldPlayersClub
    </a>
  </div>

  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>
