---

---

<footer class="pt-16 pb-12 sm:pt-24 sm:pb-16 px-4 sm:px-12">
  <div class="max-w-6xl mx-auto flex justify-end">
    <a href="#" class="w-12 h-12 bg-[#40404c] rounded-full flex items-center justify-center shadow-md hover:bg-[#555] transition">
      <img src="/images/line.png" alt="LINE" class="w-8 h-8" />
    </a>
  </div>
</footer>
